body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: auto;
}

#logout-btn{
    background-color: rgb(82, 188, 82);
}

#logout-btn:hover{
    background-color: rgb(72, 168, 72);
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    margin: 20px 0
}

input{
    padding: 10px;
    width: 300px;
}

#send-msg-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    list-style: none;
}


.date-header {
    text-align: center;
    display: flex;
    align-items: center;
}

.date-header::before,
.date-header::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}