
body{
    margin-top: 0;
    width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-side #sign-up-btn {
    background-color: rgb(82, 188, 82);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

header .left-side #sign-up-btn:hover {
    background-color: rgb(72, 168, 72);
}


header .left-side #login-btn {
    text-decoration: none;
    color: black;
 
}

header .middle-section a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 20px;
}



.hero-section .right-side img {
    max-width: 100%;
}

h1{
    font-size: 32px;
}



.start-chat-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 188, 82);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
}

.start-chat-btn img {
    width: 16px;
    height: 16px;
}

.start-chat-btn:hover {
    background-color: rgb(72, 168, 72);
}